<!DOCTYPE html>
<html ng-app="texaspoker">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Manager.TexasPoker</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="~/">TexasPoker管理平台</a>
            </div>
            <!-- /.navbar-header -->
            @Html.Partial("_LoginPartial")
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-gamepad"></i> 玩家管理 <b class="caret"></b></a>
                            <ul class="nav nav-second-level">
                                <li><a href="~/Home/PlayerList"> 玩家查询</a></li>
                                <li><a href="~/Home/BotList"> 机器人查询</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-gamepad"></i> 事件记录 <b class="caret"></b></a>
                            <ul class="nav nav-second-level">
                                <li><a href="~/Event/BuyChipsEvents"> 购买筹码</a></li>
                                <li><a href="~/Event/BuyCoinsEvents"> 购买金币</a></li>
                                <li><a href="~/Event/BuyVIPEvents"> 购买VIP</a></li>
                                <li><a href="~/Event/ChipBuyGiftEvents"> 筹码购买礼物</a></li>
                                <li><a href="~/Event/ChipBuyItemEvents"> 筹码购买道具</a></li>
                                <li><a href="~/Event/ChipsChangeByManagerEvents"> 管理员修改筹码</a></li>
                                <li><a href="~/Event/ChipBuyGiftEvents"> 金币购买礼物</a></li>
                                <li><a href="~/Event/CoinBuyItemEvents"> 金币购买道具</a></li>
                                <li><a href="~/Event/DailyGetChipsEvents"> 每日领取筹码</a></li>
                                <li><a href="~/Event/LostAllSendChipsEvents"> 输光赠送筹码</a></li>
                                <li><a href="~/Event/PlayerSendOtherChipsEvents"> 玩家赠送筹码</a></li>
                                <li><a href="~/Event/PlayerGetChipsFromOtherEvents"> 玩家接收筹码</a></li>
                                <li><a href="~/Event/PlayerReportEvents"> 玩家举报</a></li>
                                <li><a href="~/Event/TexasPokerEvents"> 牌局</a></li>
                            </ul>
                        </li>
                        <li><a href="~/Home/PlayerList"><i class="fa fa-gamepad"></i> 事件流报表</a></li>
                        <li><a href="~/Home/Analytics"><i class="fa fa-gamepad"></i> 整体统计</a></li>
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-gamepad"></i> 游戏配置 <b class="caret"></b></a>
                            <ul class="nav nav-second-level">
                                <li><a href="~/Home/PlatformChargeRate"> 抽水率</a></li>
                            </ul>
                        </li>
                    </ul>
                    <!-- /#side-menu -->
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        <div id="page-wrapper">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
        <div class="footer">
            <footer class="footer"></footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/texaspoker")
    @RenderSection("scripts", false)
</body>
</html>
