<!DOCTYPE html>
<html ng-app="ucenter">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - UCenter</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("GF.Manager.UCenter", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("玩家", "UserList", "Home")</li>
                    <li>@Html.ActionLink("订单", "OrderList", "Home")</li>
                    <li class="dropdown">@Html.ActionLink("实时概况", "RealtimeGlance", "Home")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">玩家分析 <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("新增玩家", "NewUsers", "Home")</li>
                            <li>@Html.ActionLink("活跃玩家", "ActiveUsers", "Home")</li>
                            <li>@Html.ActionLink("留存统计", "Stay", "Home")</li>
                            <li>@Html.ActionLink("流失统计", "Lost", "Home")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">在线分析 <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("在线分析", "OnlineAnalytics", "Home")</li>
                            <li>@Html.ActionLink("在线习惯", "OnlineBehaviour", "Home")</li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - GF.Manager.UCenter</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/ucenter")
    @RenderSection("scripts", false)
</body>
</html>
