<!DOCTYPE html>
<html ng-app="ucenter">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - GF.Manager.UCenter</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="~/">GF.Manager.TexasPoker</a>
            </div>
            <!-- /.navbar-header -->
            <ul class="nav navbar-top-links navbar-right">
                @Html.Partial("_LoginPartial")
            </ul>
            <!-- /.navbar-top-links -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>@Html.ActionLink("账号管理", "UserList", "Home")</li>
                        <li>@Html.ActionLink("订单管理", "OrderList", "Home")</li>
                        <li>@Html.ActionLink("App配置", "UserList", "Home")</li>
                        <li>@Html.ActionLink("实时概况", "RealtimeGlance", "Home")</li>
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">玩家分析 <b class="caret"></b></a>
                            <ul class="nav nav-second-level">
                                <li>@Html.ActionLink("新增玩家", "NewUsers", "Home")</li>
                                <li>@Html.ActionLink("活跃玩家", "ActiveUsers", "Home")</li>
                                <li>@Html.ActionLink("留存统计", "Stay", "Home")</li>
                                <li>@Html.ActionLink("流失统计", "Lost", "Home")</li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">在线分析 <b class="caret"></b></a>
                            <ul class="nav nav-second-level">
                                <li>@Html.ActionLink("在线分析", "OnlineAnalytics", "Home")</li>
                                <li>@Html.ActionLink("在线习惯", "OnlineBehaviour", "Home")</li>
                            </ul>
                        </li>
                    </ul>
                    <!-- /#side-menu -->
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        <div id="page-wrapper">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
        <div class="footer">
            <footer class="footer"></footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/ucenter")
    @RenderSection("scripts", false)
</body>
</html>
