<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - GF.Manager.TexasPoker</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("GF.Manager.TexasPoker", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">玩家管理 <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("玩家查询", "UserList", "Home")</li>
                            <li>@Html.ActionLink("机器人查询", "RoboList", "Home")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">事件记录 <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("购买筹码", "BuyChipsEvents", "Home")</li>
                            <li>@Html.ActionLink("筹码购买礼物", "ChipBuyGiftEvents", "Home")</li>
                            <li>@Html.ActionLink("筹码购买道具", "ChipBuyItemEvents", "Home")</li>
                            <li>@Html.ActionLink("每日领取筹码", "DailyGetChipsEvents", "Home")</li>
                            <li>@Html.ActionLink("输光赠送筹码", "LostAllSendChipsEvents", "Home")</li>
                            <li>@Html.ActionLink("玩家赠送筹码", "PlayerSendOtherChipsEvents", "Home")</li>
                            <li>@Html.ActionLink("玩家接收筹码", "PlayerGetChipsFromOtherEvents", "Home")</li>
                            <li>@Html.ActionLink("购买金币", "BuyCoinsEvents", "Home")</li>
                            <li>@Html.ActionLink("金币购买礼物", "ChipBuyGiftEvents", "Home")</li>
                            <li>@Html.ActionLink("金币购买道具", "CoinBuyItemEvents", "Home")</li>
                            <li>@Html.ActionLink("购买会员", "BuyVIPEvents", "Home")</li>
                            <li>@Html.ActionLink("牌局", "TexasPokerEvents", "Home")</li>
                            <li>@Html.ActionLink("玩家举报", "PlayerReportEvents", "Home")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("事件流报表", "UserList", "Home")</li>
                    <li>@Html.ActionLink("整体统计", "Analytics", "Home")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">游戏配置 <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("抽水率", "PlatformChargeRate", "Home")</li>
                            <li>@Html.ActionLink("活动", "ActivityList", "Home")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("俱乐部管理", "ClubList", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - GF.Manager.TexasPoker</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
